<!DOCTYPE HTML>
<html data-ng-app="nsApp" data-ng-controller="mainController" >
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width">
      <title data-ng-bind="'Kharbga.Net - ' + $state.current.name " >Kharbga.Net </title>
      <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
      <!-- Compressed CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./css/kharbga.css" />
      <style>
          .active {
              /* color: red;
              font-weight: bolder;*/
          }
          body {
            margin: 0px;
            padding: 0px;
      }
    </style>
      <!--[if lt IE 10]>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif]-->

  <!-- Local version <script src="./js/angular.js"></script>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script>

      <script type="text/javascript">
            angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
      </script>
  </head>
  <body >
      <div class="container-fluid">
          <nav class="navbar navbar-inverse" >
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a href="" class="navbar-brand" ui-sref="Home">Kharbga.Net</a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">
                          <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="" >
                                  Play & Watch
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="" data-ng-click="play({asAttacker:true,againstComputer:true})">As Attacker w/ Computer</a></li>
                                  <li><a href=""  data-ng-click="play({asAttacker:true,againstComputer:false})">As Attacker w/ Another Player </a></li>
                                  <li><a href="" data-ng-click="play({asAttacker:false,againstComputer:true})">As Defender w/ Computer</a></li>
                                  <li><a href="" data-ng-click="play({asAttacker:false,againstComputer:false})">As Defender w/ Another Player </a></li>
                                  <li><a href="" data-ng-click="play({asAttacker:false,againstComputer:false, asSpectator:true})">Watch and Replay Active Games</a></li>

                              </ul>
                          </li>

                          <li><a data-ui-sref="Rules" >Rules</a></li>
                          <li class="dropdown">
                              <a  href="" class="dropdown-toggle" data-toggle="dropdown" >
                                  System
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a data-ui-sref="Help" ui-sref-active="active">Help</a> </li>
                                  <li><a data-ui-sref="System" ui-sref-active="active">Info</a> </li>
                                  <li><a data-ui-sref="About" ui-sref-active="active">About</a></li>
                           
                              </ul>
                          </li>
                      </ul>    
                    <!--  <button class="btn btn-default navbar-btn" data-ui-sref="Rules">Rules</button> -->
                      <ul class="nav navbar-nav navbar-right">
                          <li data-ng-hide="user.loggedIn"><a ui-sref="Register" ><span class="glyphicon glyphicon-user"></span> Register</a></li>
                          <li data-ng-hide="user.loggedIn"><a ui-sref="Login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                          <li class="dropdown" data-ng-show="user.loggedIn">

                              <a href="" ui-sref="My Profile" data-toggle="dropdown" class="dropdown-toggle">
                                  <span class="glyphicon glyphicon-user"></span>Welcome <span data-ng-bind="user.name"></span>
                                  <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="" data-ng-click="logout()">Logout</a></li>
                                  <li><a href="" ui-sref="My Profile">My Profile</a></li>
                              </ul>
                          </li>
       
                      </ul>
                  
                  </div>
              </div>
          </nav>
            <ui-view></ui-view>
          <footer>
              <div class="container row">
                  <div class="col-sm-9">
                      <a href="" ui-sref="Terms">Terms and Conditions</a> | <a href="" ui-sref="Privacy">Privacy Policy</a> | <a href="" ui-sref="Contact Us">Contact Us</a>
                  </div>
                  <div class="col-sm-3">
                      <strong>Developed by <a href="http://www.nouriSolutions.com">Nouri&nbsp;Solutions,&nbsp;LLC</a></strong>
                  </div>
              </div>
              <hr />
              <hr>
              <pre>
      <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams 
      $state = {{$state.current.name}}
      $stateParams = {{$stateParams}}
      $state full url = {{ $state.$current.url.source }}-->
      <!-- $state.$current is not a public api, we are using it to
           display the full url for learning purposes -->

       $scope.user name = {{ user.name}}
       $scope.user isLoggedIn = {{user.loggedIn ? 'Yes' : 'No'}}
       $scope.user team = {{ user.team}}
       $scope.user.orgId = {{ user.orgId}}
       $scope.user.currentGame= {{ user.currentGame}}
       $scope.user.currentState = {{ user.currentState}}
    </pre>
          </footer>

      </div>
    
      <script src="./js/jquery.validate.js"></script>
      <script src="./js/additional-methods.js"></script>

      <!-- angular-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js">  </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"> </script>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="./js/angular-ui-router.js"></script>   
      <script src="./js/angular-local-storage.js"></script>     

      <!-- signalR -->
      <script src="./js/jquery.signalR-2.2.1.js"></script>
  
      <!--  DEBUG -->
        <script src="http://localhost:3121/signalR/hubs"></script> 

        <!--  DEV
        <script src="http://localhost/NS.API/signalR/hubs"></script>  -->
        <!-- production 
        <script src="http://api.nourisolutions.com/signalR/hubs"></script>    -->
     
      <!-- Date lib-->
      <script src="./js/moment.min.js"></script>
      
      <!-- Kharbga -->
      <script src="./js/kharbga-ui.js"></script>
      <script src="./js/kharbga.js"></script>  
      <script src="./js/ns-app.kharbga.js"></script>
      <!-- NS API -->
      <script src="./js/ns-api-client.js"></script>      
      
      <!-- NS angular App-->
      <script src="./ngapp/ns-app.angular.js"></script>
      <script src="./ngapp/services/sec.js"></script>
      <script src="./ngapp/controllers/app.js"></script>
      <script src="./ngapp/controllers/main.js"></script>
      <script src="./ngapp/controllers/user.js"></script>
      <script src="./ngapp/controllers/kharbga.js"></script>
      <script src="./ngapp/controllers/system.js"></script>
      <script src="./ngapp/controllers/help.js"></script>
      <script>
          $(document).ready(function () {
           //   $("<script>").attr({ src: '{{$scope.signalRUrl}}' }).appendTo("body");
              $.nsAppKharbga = new KharbgaApp();
          });
      </script>
   
  </body>
</html>      