<div id="help" class="panel panel-primary" data-ng-controller="helpController" >
    <div class="panel-heading">
        <h3>Help</h3>
    </div>
    <div class="panel-body">

        <div id="help-message"></div>
  
        <!-- Signal R messages-->
        <div class="panel panel-info">
            <div class="panel-heading">
                Messages Log
                <div class="pull-right">
                    <a href="" data-ng-click="ping()" id="ping-link" value="ping">
                        <span class="glyphicon glyphicon-ping"></span>Ping Server
                    </a>
                </div>

            </div>
            <div class="panel-body">
                <ul id="messages-list" style="max-height: 400px;overflow-y:scroll" class="list-group"> </ul>
            </div>
        </div>
    </div>

  
</div>   