<div class="container-fluid" data-ng-controller="kharbgaController">
<div id="home"class="tab-pane fade in active">
    <div class="row">
         <div class="col-sm-6 col-md-9 col-lg-8 ">
            <div id="currentGamePanel" class="panel panel-primary" >
                <div class="panel-heading">
                    <strong>Current Game ID: </strong><span id="current-game-id"></span>  

                   <strong>My Role:</strong><span id="account-game-role"></span>

                        <span id="current-game-status" class="badge pull-right"></span>
             </div>
                <div class="panel-body">
                    <div id="message" class=""></div>
                    <div class="row" >
                        <div class="col-sm-7 col-lg-5" >
                            <div class="panel panel-info" style="min-width:300px">
                                <div class="panel-heading">
                                    <span class="pull-left"> Board - Turn:  </span> &nbsp; &nbsp;
                                    <span id="player-turn" class="badge"></span>
                                  
                                    <a class="pull-right" href="" data-ng-click="flipBoard()" id="flipOrientation" value="Flip orientation">
                                                    
                                        <span class="glyphicon glyphicon-repeat"></span> Flip
                                    </a>
                                </div>
                                <!-- The Board -->
                                <div class="panel-body text-center" >
                                    <div id="board" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-lg-5" style="min-width: 380px">
                            <div class="panel panel-info">
                                <div class="panel-heading">Move Flags</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input type="checkbox" id="abandonCheckbox"><strong> Abandon</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input type="checkbox" id="exchangeRequestCheckbox"><strong> Exchange&nbsp;Request:</strong>
                                        </div>

                                        <div class="col-sm-3">
                                            <span id="exchangeRequestDefenderPiece" class="badge"></span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input type="checkbox" class="" id="exchangeRequestAcceptedCheckbox">
                                            <strong>
                                                Exchange&nbsp;Request&nbsp;Accepted:
                                            </strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <span id="exchangeRequestAttackerPiece1" class="badge"></span>
                                            <span id="exchangeRequestAttackerPiece2" class="badge"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="panel panel-info">
                                <div class="panel-heading">Last Action</div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Setting/Move: </dt>
                                        <dd><span id="gameMove" class="badge"></span> </dd>
                                        <dt>Captured:</dt>
                                        <dd>
                                            <span id="move-captured" class="badge"></span>
                                        </dd>
                                        <dt>Exchanged:</dt>
                                        <dd><span id="move-exchanged" class="badge"></span></dd>
                                    </dl>
       
                                </div>
                            </div>
                            <hr />
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Game State <span class="pull-right badge" id="state" ></span>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        FEN: <span id="fen" class="badge badge-success"></span>
                                    </p>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <strong calss="text-center">Moves History</strong>
                </div>
                <div class="panel-footer">
                    
                    <!-- for testing only 
                    <button id="loadSetting1Btn" class="btn btn-default" type="button"> Load Setting1 </button>-->
                    <div id="game-moves-history"></div>
                </div>
 



                </div>                      
        </div> 
        <div class="col-sm-6 col-md-3 col-lg-4">
            <!--Games-->
            <div class="panel panel-primary overflow-y-scroll" style="min-width:130px">
                <div class="panel-heading" style="min-width:120px">
                    Active Games
                    <div class="pull-right">
                        <a href="" ng-click="refreshGames()" id="games-link" value="refresh-games">
                            <span class="glyphicon glyphicon-refresh"></span>Refresh
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            New Game <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="new-game-attacker" href="" data-ng-click="newGame({asAttacker:true,againstComputer:false})">As Attacker</a></li>
                            <li><a id="new-game-defender" href="" data-ng-click="newGame({asAttacker:false,againstComputer:false})">As Defender</a></li>
                            <li><a id="new-game-attacker-system" href="" data-ng-click="newGame({asAttacker:true,againstComputer:true})">As Attacker against system</a></li>
                            <li><a id="new-game-defender-system" href="" data-ng-click="newGame({asAttacker:false,againstComputer:true})">As Defender against system</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div  style="max-height: 400px;overflow-y:scroll" >
                        <ul class="list-group" id="games-list">

                        </ul>
                    </div>
                </div>
            </div>
            <!-- Messages-->
            <div class="panel panel-primary overflow-y-scroll" style="min-width:130px">
                <div class="panel-heading" style="min-width:120px">
                    Messages
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="user-message" data-ng-model="userMessage" maxlength="80">
                        <button id="postMessageBtn" data-ng-click="post()" type="submit" class="btn btn-default">Post</button>
                    </div>
                    <hr />
                    <ul id="messages-list" style="max-height: 400px;overflow-y:scroll" class="list-group"> </ul> <!-- same id in help.html-->
                    <hr />
                </div>
            </div>
        </div>
       </div>
</div>
       

     
</div>
