<div class="panel panel-primary" >
    <div class="panel-heading">
        <h3>View and Manage your User Profile</h3>
    </div>
    <div class="panel-body">

        <div id="account-message" data-ng-bind="message"></div>
        <ul id="main-tabs" class="nav nav-tabs hidden">
            <li class="active" ng-class="{active: true}"><a data-toggle="tab" href="#myAccountInfo">My Account</a></li>
            <li ng-class="{active: false}"><a data-toggle="tab" href="#myTeam">My Team</a></li>

        </ul>
        <div class="xtab-content">
            <div id="mySessionInfo" class="xtab-pane fade in active" data-ng-controller="sessionController as ctrl">
                <div class="panel panel-info" data-ng-hide="ctrl.sessionInvalid">
                    <div class="panel-heading">Current Session </div>
                    <div class="panel-body">
                        <div class="table table-user-information">
                            <dl class="dl-horizontal">
                                <dt>Last Access Time:</dt>
                                <dd><span id="session-last-access" data-ng-bind="ctrl.data.sessionLastAccessTime"></span></dd>
                                
                                 <dt>User Name:</dt>
                                <dd><span id="session-name" data-ng-bind="ctrl.data.fullName"></span></dd>

                                <dt>Email:</dt>
                                <dd><span id="session-name" data-ng-bind="ctrl.data.emailAddress"></span></dd>
                           
                                <dt>Role:</dt>
                                <dd><span id="account-game-role" data-ng-bind="ctrl.data.mainRole"></span></dd>

                                <dt>My Team ID:</dt>
                                <dd><span id="account-game-role" data-ng-bind="ctrl.data.clientId"></span></dd>

                            </dl>
                        </div>
                    </div>
                </div>

            </div>
            <!-- tabs-->
            <div id="myAccountInfo" class="xtab-pane fade in active" 
                 data-ng-controller="accountController as ctrl">
                <div id="account-info-panel" class="panel panel-info" data-ng-hide="action.invalid">
                    <div class="panel-heading">My Account </div>
                    <div class="panel-body">
                        <div class="table table-user-information">
                            <dl class="dl-horizontal">
                                <dt>Your Last Login Time:</dt>
                                <dd><span  data-ng-bind="user.account.lastLogin"></span></dd>
                                <dt>First Name:</dt>
                                <dd><span id="account-first-name" data-ng-bind="user.account.firstName"></span></dd>
                                <dt>Last Name:</dt>
                                <dd><span id="account-last-name" data-ng-bind="account.lastName"></span></dd>

                                <dt>Email:</dt>
                                <dd><span id="account-email" data-ng-bind="user.account.emailAddress"></span></dd>

                                <dt>Active Game ID:</dt>
                                <dd><span id="account-game-id" data-ng-bind="user.currentGame.ID"></span></dd>

                                <dt>Role:</dt>
                                <dd><span id="account-game-role" data-ng-bind="user.account.mainRole"></span></dd>

                                <dt>My Team ID:</dt>
                                <dd><span id="account-game-role" data-ng-bind="user.account.clientId"></span></dd>

                            </dl>
                        </div>
                    </div>
                </div>

            </div>
            <div id="myTeam" class="xtab-pane fade in" data-ng-controller="teamController as ctrl">
                <div id="account-info-panel" class="panel panel-info" data-ng-hide="action.invalid" >
                    <div class="panel-heading">My Team</div>
                    <div class="panel-body">
                        <div class="table table-user-information">
                            <dl class="dl-horizontal">
                                <dt>ID:</dt>
                                <dd><span data-ng-bind="team.id"></span></dd>

                                <dt>Name:</dt>
                                <dd><span data-ng-bind="team.name"></span></dd>

                                <dt>Email:</dt>
                                <dd><span data-ng-bind="team.emailAddress"></span></dd>

                                <dt>URL:</dt>
                                <dd><span data-ng-bind="team.url"></span></dd>

                                <dt>Team Manager:</dt>
                                <dd><span data-ng-bind="team.mainUserId"></span></dd>

                                <dt>Parent Organization ID:</dt>
                                <dd><span data-ng-bind="team.clientId"></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>

            <div id="myCurrentGame">

            </div>
        </div>
    </div>
</div>

