
<div data-ng-controller="registerController">
    <div id="account-message" data-ng-bind="message"> </div>
    <div data-ng-show="invalidInput" class='alert alert-danger'>Please enter valid data in all required fields marked by an asterisk (<span class="required">*</span>).</div>
    <div id="confirm-email-panel" class="panel panel-primary ">
        <div class="panel-heading">Registration - Confirm Email Address</div>
        <div class="panel-body">
            <h2>Thank you for signing up</h2>

            <p>verification email has been sent.</p>

            <p>Please open this email and click on the link to confirm your email address.</p>

            <p>If you have not received this email please check the SPAM BOX or contact us for support.</p>
        </div>
    </div>
</div>