
<div data-ng-controller="registerConfirmController">
    <div id="account-message" data-ng-bind="message"> </div>
    <div data-ng-show="invalidInput" class='alert alert-danger'>Please enter valid data in all required fields marked by an asterisk (<span class="required">*</span>).</div>
    <div id="confirm-email-panel" class="panel panel-primary ">
        <div class="panel-heading">Registration - Confirm Email Address</div>
        <div class="panel-body">

            {{userId}}{{email}}
            <h2>Thank you for signing up</h2>
            <!-- add options here and check the status of confirmation -->
            <p>Your email address is now confirmed.</p>

            <p>Invalid Email Address.</p>

        </div>
    </div>
</div>