<div id="register-panel" class="panel panel-info " data-ng-controller="userController">
    <div class="panel-heading">Register</div>
    <div class="panel-body">
        <form id="register-form" class="cmxform form-horizontal validate-form" novalidate method="get" action="">
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-team">Team:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tent"></i></span>
                    <input class="form-control" type="text" list="register-team-list" id="register-team" size="50" required placeholder="Select or enter Team" minlength="3" maxlength="50" />
                    <datalist id="register-team-list"></datalist>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-email">Email:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" id="register-email" placeholder="Enter email" size="50" required pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$" minlength="3" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-id">Login ID:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="register-login-id" placeholder="Enter your login Id" size="30" required minlength="6" maxlength="30">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-pwd">Password:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="register-pwd" placeholder="Enter password" size="20" required minlength="8" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-pwd-confirm">Confirm Password:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="register-pwd-confirm" placeholder="Confirm password" size="20" required minlength="8" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="register-name">Screen Name:</label>
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                    <input type="text" class="form-control" id="register-name" placeholder="Enter screen name" size="20" required minlength="3" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="register-submit" type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>