.list-group-item {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}


/* https://vanseodesign.com/css/vertical-centering/ */

.parent {
    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
    display: inline-block;
}


/* end*/