<!DOCTYPE HTML>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test Kharbga Game</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/kharbga.css" />
    <link rel="stylesheet" href="../css/site.css" />
    <!-- Load environment variables -->
    <script src="../jsconfig/env.js"></script>

    <style>
        .active {
            /* color: red;
              font-weight: bolder;*/
        }

        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
    <!--[if lt IE 10]>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif]-->
    <script src="../lib/jquery/jquery.min.js"></script>
    
</head>

<body>
    <div class="container-fluid">
        <h1>Kharbga</h1>
        <h2>No Interactions with the Server</h2>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    New Game <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="new-game-attacker" href="#">As Attacker</a></li>
                    <li><a id="new-game-defender" href="#">As Defender</a></li>
                    <li><a id="new-game-attacker-system" href="#">As Attacker against system</a></li>
                    <li><a id="new-game-defender-system" href="#">As Defender against system</a></li>
                </ul>
            </div>
        </div>
        <div id="panel-main-game" class="panel panel-primary">
            <div class="panel-heading">
                
                <strong>Game ID: </strong><span id="current-game-id"></span>
                <span id="current-game-status" class="badge "></span>
            </div>
            <div class="panel-body">
                <div id="message" class=""></div>
                <div id="game-over" class="modal fade gameOver">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title text-center">GAME OVER</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-center text-info text-center"><strong><span id="game-players"></span></strong></p>
                                <p class="text-center text-success">Winner is: <span id="game-winner"></span></p>
                                <p class="text-center text-success"><span id="game-result"></span></p>
                                <p class="text-center text-info">Final Score: <span id="game-score"></span></p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-info" style="min-width:200px">
                            <div class="panel-heading">
                                <span class="pull-left">Turn:  </span> &nbsp; &nbsp;
                                <span id="player-turn" class="badge"></span> &nbsp; &nbsp;
                                <!--   <strong>My Role:</strong><span id="account-game-role"></span>-->
                                <a class="pull-right" href="" data-ng-click="flipBoard()" id="flipOrientation" value="Flip orientation">
                                    <span class="glyphicon glyphicon-repeat"></span> Flip
                                </a>
                            </div>
                            <!-- The Board -->
                            <div class="panel-body text-center">
                                <audio id="sound" preload="auto">
                                    <source src="../img/button-26.mp3" type="audio/mpeg">
                                </audio>
                                <div class="row fieldset">

                                    <div class="col-sm-8 col-xs-8">
                                        <input id="sound-volume" type="range" min="0.0" max="1.0" step="0.2" value="0.5" data-ng-click="setVolume()" />
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <a href='' data-ng-click="soundToggle()" id="sound-toggle">
                                            <div id="sound-mute" class="unmute mute"></div>
                                        </a>
                                    </div>
                                    <!--   <div class="col-sm-3 col-xs-3" >
                                        <a href='' data-ng-click="soundUp()" id="sound-up"><span class="glyphicon glyphicon-volume-up"></span></a>
                                         <a href='' data-ng-click="soundDown()" id="sound-down"><span class="glyphicon glyphicon-volume-down"></span></a>
                                    </div>-->
                                </div>
                                <div id="board" style="width: 100%"></div>
                                <p class="text-center">
                                    <a href='' data-ng-click="playBegining()" id="play-begining"><span class="glyphicon glyphicon-step-backward"></span></a>
                                    <a href='' data-ng-click="playBackward()" id="play-backward"><span class="glyphicon glyphicon-backward"></span></a>
                                    <a href='' data-ng-click="playStart()" id="play-start"><span class="glyphicon glyphicon-play"></span></a>
                                    <a href='' data-ng-click="playPause()" id="play-pause"><span class="glyphicon glyphicon-pause"></span></a>
                                    <a href='' data-ng-click="playForward()" id="play-forward"><span class="glyphicon glyphicon-forward"></span></a>
                                    <a href='' data-ng-click="playEnd()" id="play-end"><span class="glyphicon glyphicon-step-forward"></span></a>
                                </p>
                            </div>
                            <div id="play-controls" class="panel-footer">
                                <p class="text-center"><span id="play-move-number" class="badge badge-success"></span><p>
                                <p class="text-center"><span id="play-move-player" class="badge badge-info"></span><span id="play-move-info" class="badge badge-info"></span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-info" style="font-size:smaller">
                            <div class="panel-heading">Move Flags</div>
                            <div class="panel-body">
                                <dl>
                                    <dt><input type="checkbox" id="abandonCheckbox"><strong> Resign</strong></dt>
                                    <dd></dd>
                                    <dt><input type="checkbox" id="exchangeRequestCheckbox"><strong> Exchange&nbsp;Request:</strong> </dt>
                                    <dd>
                                        <span id="exchangeRequestDefenderPiece" class="badge"> </span>
                                    </dd>
                                    <dt><input type="checkbox" class="" id="exchangeRequestAcceptedCheckbox"><strong> Exchange&nbsp;Request&nbsp;Accepted:</strong></dt>
                                    <dd>

                                        <span id="exchangeRequestAttackerPiece1" class="badge"></span>
                                        <span id="exchangeRequestAttackerPiece2" class="badge"></span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <hr />
                        <div class="panel panel-info" style="font-size:smaller">
                            <div class="panel-heading">Last Action</div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Setting/Move: </dt>
                                    <dd><span id="gameMove" class="badge"></span> </dd>
                                    <dt>Captured:</dt>
                                    <dd>
                                        <span id="move-captured" class="badge"></span>
                                    </dd>
                                    <dt>Exchanged:</dt>
                                    <dd><span id="move-exchanged" class="badge"></span></dd>
                                </dl>

                            </div>
                        </div>
                        <hr />
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Game State: <span class="badge badge-success" id="state"></span>
                            </div>
                            <div class="panel-body">
                                <p>
                                    FEN: <span id="fen" class="xbadge xbadge-success"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <strong calss="text-center">Moves History</strong>
            </div>
            <div class="panel-footer">

                <!-- for testing only
                <button id="loadSetting1Btn" class="btn btn-default" type="button"> Load Setting1 </button>-->
                <div id="game-moves-history"></div>
            </div>
        </div>
    </div>
    <script src="../js/kharbga.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/additional-methods.js"></script>

    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- signalR -->
    <script src="../js/jquery.signalR-2.3.0.js"></script>

    <script src="../js/moment.min.js"></script>

    <!-- NS API -->
    <script src="../js/ns-api-client.js"></script>

    <!-- Kharbga -->
    <script src="../js/kharbga-ui.js"></script>
    <script src="../js/kharbga.js"></script>
    <script src="../js/ns-app-utils.js"></script>
    <script src="../js/ns-app-kharbga.jquery.js"></script>
    <script src="../js/ns-app.kharbga.game.js"></script>

    <script>
        
        $(document).ready(function () {
           // $('#panel-main-game').hide();
            var kApp = new KharbgaGameController();
            kApp.initBoard({
                themePath: '../img/theme-simple/{piece}.png'
            });
           
        });
    </script>
</body>
</html>