<div data-ng-controller="mainController as ctrl">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Welcome <strong>{{sessionData.fullName}}</strong> to Kharbga.Net</h3></div>
        <div class="panel-body">
            <p>If this is your first time here, please click <a href="" ui-sref="Rules">here to learn about the game.</a></p>
            <p>This system provides a platform for learning and playing this fun board game from North Africa. 
            You could challenge the computer or play with other human players across the world, which is more fun!</p>
            <p data-ng-hide="sessionData.isActive"><a href="" ui-sref="Register">Registration</a> in the system is free. 
            You could open an account for a team in your town, neighborhood, or organization or join an existing team.</p>            
            <hr />
            <p data-ng-hide="sessionData.isActive"><a href="" ui-sref="Register" class="">Click here</a> to register.</p>
            <p data-ng-hide="sessionData.isActive">Click <a href="" ui-sref="Login" class="">here to login</a> if you already have an account.</p>
            <p data-ng-show="sessionData.isActive">Click <a href="" ui-sref="Play" class="">here to play</a> with other members.</p>
             
            <hr />
            <h4 class="text-primary">Play Computer</h4> 
            <button class="btn btn-primary" href="" data-ng-click="ctrl.play({asAttacker:true,againstComputer:true})">As Attacker</button>
            <button class="btn btn-primary" href="" data-ng-click="ctrl.play({asAttacker:false,againstComputer:true})">As Defender</button>

            <hr />
            <h4 class="text-primary">Challenge Other Members</h4>
            <button class="btn btn-primary" href="" data-ng-click="ctrl.play({asAttacker:true,againstComputer:false})">As Attacker</button>
            <button class="btn btn-primary" href="" data-ng-click="ctrl.play({asAttacker:false,againstComputer:false})">As Defender</button>

            <hr />
            <a class="btn btn-primary" href="" data-ui-sref="Active Games">
                <h4>Watch Live Active Games</h4>
            </a>

    </div>

    </div>
</div>