<div id="rules" >
    <!-- Trigger the modal with a button -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong> Kharbga Rules</strong>
        </div>
        <div class="panel-body">
            <ul id="main-tabs" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#objectives">Objectives</a></li>
                <li><a data-toggle="tab" href="#setting">Setting Phase</a></li>
                <li><a data-toggle="tab" href="#moving">Moving Phase</a></li>
                <li><a data-toggle="tab" href="#gameover">Game Over</a></li>
            </ul>
            <div class="tab-content">
                <div id="objectives"class="tab-pane fade in active">
                    <h4 class="text-primary">Background Information and Objectives</h4>
                    <ul>
                        <li>The game is played by two players (an Attacker and a Defender) using a board of 7 by 7 squares.</li>
                        <li>Each player uses 24 pieces of different colors representing their soldiers. The pieces are also called 'Faris' or 'Kalb' in Tunisian language.</li>
                        <li>The objective of each player is to terminate the opponent soldiers.</li>
                        <li>Players decide which one is the Attacker and which one is the Defender. </li>
                        <li>The Attacker has the advantage of starting setting his first two soldiers on the board in strategic squares to enable capturing the Defender soldiers after the first move.</li>
                        <li>The Defender has the advantage of requesting soldier exchanges for unreachable/safe soldiers: one Defender soldier for two Attacker soldiers.</li>
                        <li>
                            There are two phases for the game: a Setting phase where the players takes turns placing their soldiers on the board two at a time 
                            and Moving phase where each player attempts to capture the opponent soldiers or request exchanges for safe/untouchable soldiers.
                        </li>
                    </ul>
                </div>
                <div id="setting" class="tab-pane ">
                    <h4 class="text-primary">Setting soldiers on the board </h4>
                    <p>The following rules are followed when setting the board:</p>
                    <ul>
                        <li>At this point, the board is empty.  </li>
                        <li>Players take turns setting the board two soldiers at a time following a strategy to set the opponent soldiers for capture and set their own soldiers for safety.</li>
                        <li>
                            The central square of the board, marked by a cross, is left empty in the setting phase.  This square is used for the first move. It is called 'Malha' in Tunisian language
                            meaning it is not seed-able by soldiers.
                        </li>
                        <li>
                            The Attacker has the advantage of starting setting his first two soldiers on the board. The Attacker's strategy to setup the opponent soldiers for capture and prevent the defender from
                            building up safe untouchable soldiers.
                        </li>
                        <li>
                            The Defender follows the Attacker setting their two places following a strategy to capture the Attacker pieces after making captures or
                            to build up zones of safety where unreachable pieces could demand one for two exchanges.
                        </li>
                        <li>The Defender must be allowed to move after the first Attacker move. If the first move results in the defender being blocked, the Defender wins the game.</li>
                    </ul>
                </div>
                <div id="moving" class="tab-pane ">
                    <h4 class="text-primary">Moving soldiers on the board - capturing and exchanging soldiers</h4>
                    <p>After completing the setting of the board, solders take turn moving soldiers on the board following the following rules:</p>
                    <ul>
                        <li>At this point, all board cells are filled up with each player 24 soldiers strategically placed except the middle cell (Malha).</li>
                        <li>Play starts by the Attacker moving one of his first free solider on the middle cell which is left empty.</li>
                        <li>Soldiers could be used for moving only if they have a free/empty adjacent cell</li>
                        <li>Moves on the board could be orthogonal in any possible direction (up, down, left, or up) but not diagonally from one cell to another adjacent empty cell. </li>
                        <li>The first move of the Attacker may or may not capture one or more of the defender's soldiers.</li>
                        <li>A solider is captured if its gets sandwiched (placed between two opponent soldiers ) on the move (not during setting).</li>
                        <li>
                            Soldiers are only captured when the opponent makes a move that sandwiches the piece. Soldiers are considered safe in these cases: the soldiers moves to a cell between two of
                            the opponent's soldiers or it the soldiers is between two of the opponent's soldiers in the original setting of the board.
                        </li>
                        <li>
                            If the move results in a capture of one or more (up to three), the captured piece(s) is/are removed off the board.
                            The player that made the capture is required (has the advantage) to continue moving the same soldier to a next adjacent square until no more captures could be made.
                        </li>
                        <li>If no capture results from the move, players change turns.</li>
                        <li>If the first move results in the defender being blocked, the Defender wins the game.</li>
                        <li>After, the first move, if the move results in a player being blocked, the same player must continue moving until the opponent player is unblocked.</li>
                        <li>
                            In addition to capturing, moves could involve related soldiers Exchange Requests. Below is the procedure/steps to follow:
                            <ol>
                                <li>The Defender initiates the request by raising the exchange request flag (checking the Exchange request check box) and moving a safe unreachable soldier to use for the exchange.
                                <li>The Attacker could accept or deny the request in his next move by raising or not raising the Exchange Request Accepted flag. </li>
                                <li>The Attacker accepts the request by raising the Exchange Request Accepted flag and moving a free soldier to use in the exchange. This would be the first soldier to use in the exchange</li>
                                <li>
                                    The Defender accepts this soldier by continuing to raise the exchange request flag (checking the Exchange request check box) and moving the same safe soldier to an adjacent square.
                                    If a different soldier is used in the move. The process goes back to the first step.
                                <li>The Attacker could accept or deny the request in his next move by raising or not raising the Exchange Request Accepted flag and make a move to indicate his second soldier to use for the exchange.</li>
                                <li>
                                    The Defender accepts this second soldier by continuing to raise the exchange request flag and moving the same soldier to an adjacent soldier.
                                    With this step, the exchange request is completed and the exchanged soldiers are removed off the board.
                                </li>
                                <li>After the exchange is completed, it is the Attacker's turn to make the next move. </li>
                            </ol>
                        </li>


                    </ul>
                </div>
                <div id="gameover" class="tab-pane ">
                    <h4 class="text-primary">Game Over</h4>
                    <p>Below are the possible cases when the game is over and a winner is declared</p>
                    <ul>
                        <li>The Defender is blocked from moving after the first move by the Attacker: Defender wins.</li>
                        <li>All the Defender pieces are captured or exchanged - Attacker wins.</li>
                        <li>All the Attacker pieces are captured or exchanged - Defender wins.</li>
                        <li>The Defender resigns - Attacker wins</li>
                        <li>The Attacker resigns - Defender wins</li>
                    </ul>

                </div>
            </div>
  
        </div>
   
    </div>
</div>   