body {
    background-color: antiquewhite;
    font-family: Frutiger, Futura, Gills Sans, Helvetica, Lucida, Optima, Palatino, Agfa Rotis, Arial, and Univers;
}

.navbar-inverse {
    background-color: #4D7D56;
    border-color: #4D7D56;
    color: white;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #4D7D56;
    color: antiquewhite;
    border-color: #4D7D56;
}

.navbar-inverse .navbar-nav>li>a {
    color: antiquewhite;
}

.navbar-inverse .navbar-brand {
    color: antiquewhite;
}

.main {
    background-color: white;
}

.field-validation-error {
    color: #B40636;
}


/* Word press*/


/* issue with checkbox size on smaller screens
@media screen and (max-width: 782px) {
    input [type=radio], input[type=checkbox] {
        height: 25px;
        width: 25px;
    }
}
*/

a,
a:hover {
    color: #4D7D56;
}

.img-circle {
    border-radius: 50%;
}

.container {
    background-color: transparent;
}

.footer {
    background-color: transparent;
}

.row {
    background-color: transparent;
}

.panel {
    border-color: #4D7D56;
}

.panel-primary {
    background-color: transparent;
    border-color: #4D7D56;
}

.panel-heading {
    background-color: #4D7D56;
    color: white;
}

.panel-body {
    background-color: white;
}

.btn {
    background-color: #4D7D56;
    color: white;
}

.panel-info>.panel-heading {
    color: antiquewhite;
    background-color: #E1781A;
    border-color: #bce8f1;
}


/* Bootstrap */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #406848;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #2d4932;
}

.text-success {
    color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
    color: #2b542c;
}

.text-info {
    color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
    color: #245269;
}

.text-warning {
    color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #66512c;
}

.text-danger {
    color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #843534;
}